.container {
  display: grid;
  height: 500px;
  gap: 20px;
  border: 10px solid var(--yellow);
  grid-template-columns: repeat(5, 130px);
  /* grid-template-rows: repeat(5, 100px); */
  place-items: stretch stretch;
  justify-content: space-between;
  align-content: space-between;
}

.itm {
  background: white;
}

.itm5{
    justify-self: center;
    align-self: center;
}